# National Income and Infant Mortality

In this Jupyter Notebook, we'll analyze the relationship between a country's GDP per capita (a measure of average income per person) and infant mortality (in particular, the share of every 1,000 children born who do not reach their fifth birthday).

## Data

Data for this analysis comes from the World Bank's *World Development Indicators* database.

In [1]:
import pandas as pd
import numpy as np

# Download World Development Indicators
wdi = pd.read_csv("https://media.githubusercontent.com/media/nickeubank/MIDS_Data/master/World_Development_Indicators/wdi_small.csv")

The data is currently one row per country-indicator:

In [2]:
wdi.head()

,Unnamed: 0,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,Unnamed: 63
0,75203,Afghanistan,AFG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,145.245,145.245,145.245,145.245,145.245,...,98.6322,92.3776,86.123,81.7908,77.4586,73.1264,68.7942,64.462,NaN,NaN
1,75242,Afghanistan,AFG,Antiretroviral therapy coverage for PMTCT (% o...,SH.HIV.PMTC.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,75279,Afghanistan,AFG,Battle-related deaths (number of people),VC.BTL.DETH,NaN,NaN,NaN,NaN,NaN,...,6864.0000,7405.0000,7719.000,8056.0000,12285.0000,17273.0000,17981.0000,18950.000,NaN,NaN
3,75302,Afghanistan,AFG,"Cause of death, by communicable diseases and m...",SH.DTH.COMM.ZS,NaN,NaN,NaN,NaN,NaN,...,50.2000,NaN,NaN,NaN,NaN,40.6000,36.4000,NaN,NaN,NaN
4,75395,Afghanistan,AFG,Completeness of infant death reporting (% of r...,SP.DTH.INFR.ZS,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

We would much rather have each country be its own row, and we only care about 2015, so let's re-organize our data. 

First, we can drop all the extra years:

In [3]:
wdi = wdi[['Country Name', 'Country Code', 'Indicator Name', 
           'Indicator Code', '2015']]
wdi.head()

,Country Name,Country Code,Indicator Name,Indicator Code,2015
0,Afghanistan,AFG,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,73.1264
1,Afghanistan,AFG,Antiretroviral therapy coverage for PMTCT (% o...,SH.HIV.PMTC.ZS,NaN
2,Afghanistan,AFG,Battle-related deaths (number of people),VC.BTL.DETH,17273.0000
3,Afghanistan,AFG,"Cause of death, by communicable diseases and m...",SH.DTH.COMM.ZS,40.6000
4,Afghanistan,AFG,Completeness of infant death reporting (% of r...,SP.DTH.INFR.ZS,NaN

In [4]:
wdi = wdi.pivot(index='Country Name', columns='Indicator Name', values='2015')
wdi = wdi.reset_index()
wdi.head()

Indicator Name,Country Name,"Adolescent fertility rate (births per 1,000 women ages 15-19)",Antiretroviral therapy coverage for PMTCT (% of pregnant women living with HIV),Battle-related deaths (number of people),CPIA building human resources rating (1=low to 6=high),CPIA business regulatory environment rating (1=low to 6=high),CPIA debt policy rating (1=low to 6=high),CPIA economic management cluster average (1=low to 6=high),CPIA efficiency of revenue mobilization rating (1=low to 6=high),CPIA equity of public resource use rating (1=low to 6=high),...,"Women participating in the three decisions (own health care, major household purchases, and visiting family) (% of women age 15-49)",Women who believe a husband is justified in beating his wife (any of five reasons) (%),Women who believe a husband is justified in beating his wife when she argues with him (%),Women who believe a husband is justified in beating his wife when she burns the food (%),Women who believe a husband is justified in beating his wife when she goes out without telling him (%),Women who believe a husband is justified in beating his wife when she neglects the children (%),Women who believe a husband is justified in beating his wife when she refuses sex with him (%),Women who were first married by age 15 (% of women ages 20-24),Women who were first married by age 18 (% of women ages 20-24),Women's share of population ages 15+ living with HIV (%)
0,Afghanistan,73.1264,NaN,17273.0,3.5,2.5,3.0,3.0,3.0,3.0,...,32.6,80.2,59.2,18.2,66.9,48.4,33.4,8.8,34.8,NaN
1,Albania,20.6922,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,30.3
2,Algeria,10.7052,28.0,110.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,44.8
3,American Samoa,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Now each row is a country, and we have all the variables we want to potentially analyze.

# Visualizing the Relationship between Log GDP Per Capita and Infant Mortality

[Now it's your turn! insert the plot from `analyze_health_and_income.py` here and make any required changes to make it work]

# Learning from Outliers

While we are often interested in overall trends, exceptions to a trend can sometimes be just as interesting. 

Suppose you are an analyst asked to advise the goverment of Mozambique (which has a Log GDP Per Capita of about 6.25) on how it could reduce it's child mortality, but you don't know where to being. One option is to look for other countries whose income level is similar to that of Mozambique, but who have lower mortality levels. 

Re-make the plot from above, but this time including only countries with income levels similar to that of Mozambique. Then below the plot, create a markdown cell in which you explain what countries you might research and why.

# Export and Send Your Notebook to Me!

When you are finished, put your names in the top cell and export your notebook as both a Python Notebook (so it's file name ends in `.ipynb`) and as a PDF and email them to me at [nick@nickeubank.com](mailto:nick@nickeubank.com).